<div class="xotv">
  <header class="xotv__header">
    <app-toolbar (toggle)="sidenav.toggle()"></app-toolbar>
  </header>
  <main>
    <mat-sidenav-container class="xotv__sidenav-container" role="navigation">
      <mat-sidenav
        #sidenav
        [mode]="sideNavMode"
        class="mat-elevation-z4 xotv__sidenav"
        [opened]="!smallScreen"
        [fixedTopGap]="menuGap"
        [fixedInViewport]="true"
      >
        <div class="xotv__sidenav-search-form">
          <form>
            <mat-form-field class="xotv__sidenav-search-field">
              <input
                matInput
                placeholder="Search user"
                [(ngModel)]="searchQuery"
                (keyup)="onKeyUp($event)"
                name="searchQuery"
                autocomplete="off"
              />
              <mat-icon *ngIf="!searchQuery" matSuffix>search</mat-icon>
              <button
                mat-button
                *ngIf="searchQuery"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="searchQuery = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </form>
          <div class="xotv__loader" *ngIf="loading">
            <app-spinner></app-spinner>
          </div>
        </div>
        <div class="xotv__sidenav-list">
          <mat-nav-list *ngIf="users.length > 0; else empty">
            <mat-list-item
              *ngFor="let user of users"
              (click)="showPhotos(user)"
            >
              <img matListAvatar [src]="user?.profile_image?.small" alt="..." />
              <a matLine>{{ user.name }}</a>
              <button mat-icon-button (click)="showPhotos(user)">
                <mat-icon>photo_library</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
          <ng-template #empty>
            <div class="xotv__sidenav-list--empty">
              <img [src]="resource" />
            </div>
          </ng-template>
        </div>
      </mat-sidenav>

      <article>
        <div
          [ngClass]="smallScreen ? 'xotv__container--sm' : 'xotv__container'"
        >
          <app-photo-gallery [user]="selectedUser"></app-photo-gallery>
        </div>
      </article>
    </mat-sidenav-container>
  </main>
</div>
<!-- <router-outlet></router-outlet> -->
