<div class="xotv">
  <header class="xotv__header">
    <app-toolbar (toggle)="sidenav.toggle()"></app-toolbar>
  </header>
  <main>
    <mat-sidenav-container class="xotv__sidenav-container" role="navigation">
      <mat-sidenav
        #sidenav
        [mode]="sideNavMode"
        class="mat-elevation-z4 xotv__sidenav"
        [opened]="!smallScreen"
        [fixedTopGap]="menuGap"
        [fixedInViewport]="true"
      >
        <div class="xotv__sidenav-search-form">
          <form>
            <mat-form-field class="xotv__sidenav-search-field">
              <input matInput placeholder="Search user" autocomplete="off" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </form>
        </div>
        <mat-nav-list>
          <div>
            <ng-template #link>
              <a mat-list-item [routerLink]="menu.link">
                <mat-icon class="icon" mat-list-icon>2</mat-icon>
                1
              </a>
            </ng-template>
          </div>
        </mat-nav-list>
      </mat-sidenav>
      <article>
        <div
          [ngClass]="smallScreen ? 'xotv__container--sm' : 'xotv__container'"
        >
          <app-photo-gallery></app-photo-gallery>
        </div>
      </article>
    </mat-sidenav-container>
  </main>
</div>
<!-- <router-outlet></router-outlet> -->
